@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --color-raka-red: #e23000;
  --color-raka-orange: #f68a08;
  --color-raka-mint: #0ddf9f;
  --color-raka-blue: #06b2c4;
  --color-raka-pink: #bb066c;
  --color-raka-maroon: #8e0339;
}

.text-arcon {
  font-family: "arcon";
}

.text-moderniz {
  font-family: "moderniz";
}

.text-league-spartan {
  font-family: "League Spartan";
}

.bg-gradient-silver {
  background: #f2f1f1;
  background: linear-gradient(21deg, rgb(240, 237, 238) 0%, rgb(210, 207, 209) 50%, rgba(240, 237, 238, 1) 100%);
}

.bg-gradient-red {
  background: #9b2a2a;
  background: linear-gradient(21deg, rgba(142, 3, 57, 1) 0%, rgba(187, 6, 108, 1) 50%, rgba(142, 3, 57, 1) 100%);
}

.bg-gradient-green {
  background: #0ddf9f;
  background: linear-gradient(121deg, rgba(13, 223, 159, 1) 0%, rgba(6, 178, 196, 1) 75%);
}

.bg-gradient-orange {
  background: #e23000;
  background: linear-gradient(171deg, rgba(226, 48, 0, 1) 0%, rgba(246, 138, 8, 1) 90%);
}
